<div class="row">
    <div class="col-sm-12">
        <h3 class="acta-title">Server status and information</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="box box-acta-info box-acta-info-light top-20">
                    <div class="box-header">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Server status
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <tbody>
                                <tr role="row" class="odd">
                                    <td class="text-center">
                                        <i class="fa fa-refresh fa-spin fa-fw fa-ok"></i>
                                        <span class="sr-only">Loading...</span>
                                    </td>
                                    <td>
                                        <span class="fa-ok">RUNNING</span>
                                    </td>
                                    <td>
                                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Stop server">
                                            <i class="fa fa-stop-circle fa-ko"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:" data-toggle="tooltip" data-placement="bottom" title="Restart server">
                                            <i class="fa fa-undo"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">XML RPC Traces</a>
                                    </td>
                                    <td>
                                        <a href="">Easyinjector traces</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-acta-info box-acta-info-light top-10">
                    <div class="box-header">
                        Network usage
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dataTable-tree" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Device</th>
                                    <th>Received</th>
                                    <th>Send</th>
                                    <th>Err/Drop</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/tv-collapsable.gif" /> Io
                                    </td>
                                    <td>19.69 MB</td>
                                    <td>19.69 MB</td>
                                    <td>0/0</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> addr:127.0.0.1
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/tv-collapsable.gif" /> eth0
                                    </td>
                                    <td>180.58 MB</td>
                                    <td>1.49 GB</td>
                                    <td>0/0</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> addr:6.4.15.30
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="box box-acta-info box-acta-info-light top-20">
                    <div class="box-header">
                        System vitals
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal form-info form-info-light">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 col-lg-2">Hostname</label>
                                    <div class="col-sm-10 col-lg-10">
                                        Acta
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Distro Name</label>
                                    <div class="col-sm-10 col-lg-10">
                                        Debian GNU/Linux 8
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Ping test</label>
                                    <div class="col-sm-10 col-lg-10">
                                        <i class="fa fa-check fa-ok"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Uptime</label>
                                    <div class="col-sm-10 col-lg-10">
                                        15 days 20 hours 19 minutes
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Last boot</label>
                                    <div class="col-sm-10 col-lg-10">
                                        16/01/2018 à 13:52:02
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Load averages</label>
                                    <div class="col-sm-10 col-lg-10">
                                        0.00 0.00 0.00
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-2 col-lg-2">Date</label>
                                    <div class="col-sm-10 col-lg-10">
                                        01/0/2018 à 10:04:05
                                    </div>
                                </div>
                            </div>
                            <div style="clear: left"></div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div style="clear: left"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-acta-info box-acta-info-light top-20">
                    <div class="box-header">
                        Mounted filesystems
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dataTable-tree" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Mountpoint</th>
                                    <th>Type</th>
                                    <th>Usage</th>
                                    <th>Free</th>
                                    <th>Used</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/tv-collapsable.gif" /> /</td>
                                    <td>
                                        ext4
                                    </td>
                                    <td>
                                        /dev/sda1
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100">
                                                50%</div>
                                        </div>
                                    </td>
                                    <td>2.12 GB</td>
                                    <td>2.1 GB</td>
                                    <td>4.46 GB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /dev
                                    </td>
                                    <td>devtmpfs</td>
                                    <td>udev</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </td>
                                    <td>10.00 MB</td>
                                    <td>0 B</td>
                                    <td>10.00 MB</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /run
                                    </td>
                                    <td>tmpfs</td>
                                    <td>tmpfs</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100">
                                                4%</div>
                                        </div>
                                    </td>
                                    <td>386.43 MB</td>
                                    <td>15.6 MB</td>
                                    <td>402.08 MB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /usr
                                    </td>
                                    <td>ext4</td>
                                    <td>/dev/dm-0</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="9">
                                                9%
                                            </div>
                                        </div>
                                    </td>
                                    <td>31.77 GB</td>
                                    <td>2.9 GB</td>
                                    <td>36.54 GB</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /dev/shm
                                    </td>
                                    <td>tmpfs</td>
                                    <td>tmpfs</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </td>
                                    <td>1005.20 MB</td>
                                    <td>0 MB</td>
                                    <td>1005.20 MB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /run/lock
                                    </td>
                                    <td>tmpfs</td>
                                    <td>tmpfs</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </td>
                                    <td>5.00 MB</td>
                                    <td>0 MB</td>
                                    <td>5.00 MB</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /sys/fs/cgroup
                                    </td>
                                    <td>tmpfs</td>
                                    <td>tmpfs</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                                        </div>
                                    </td>
                                    <td>1005.20 MB</td>
                                    <td>0 MB</td>
                                    <td>1005.20 MB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /home
                                    </td>
                                    <td>ext4</td>
                                    <td>/dev/mapper/vg--acta-lv--home</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0"
                                                aria-valuemax="100">
                                                11%</div>
                                        </div>
                                    </td>
                                    <td>21.29 GB</td>
                                    <td>2.4 GB</td>
                                    <td>24.97 GB</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /tmp
                                    </td>
                                    <td>ext4</td>
                                    <td>/dev/mapper/vg--acta-lv--tmp</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0"
                                                aria-valuemax="100">
                                                11%</div>
                                        </div>
                                    </td>
                                    <td>8.54 GB</td>
                                    <td>21.0 MB</td>
                                    <td>9.04 GB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /var
                                    </td>
                                    <td>ext4</td>
                                    <td>/dev/mapper/vg--acta-lv--var</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">5%</div>
                                        </div>
                                    </td>
                                    <td>16.52 GB</td>
                                    <td>759.9 MB</td>
                                    <td>18.21 GB</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> /run/user/109
                                    </td>
                                    <td>tmpfs</td>
                                    <td>tmpfs</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                                        </div>
                                    </td>
                                    <td>201.04 MB</td>
                                    <td>4.0 KB</td>
                                    <td>201.04 MB</td>
                                </tr>
                                <tr role="row" class="odd total">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <strong>Totals</strong>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100">
                                                <strong>9%</strong>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <strong>82.79 GB</strong>
                                    </td>
                                    <td>
                                        <strong>8.15 GB</strong>
                                    </td>
                                    <td>
                                        <strong>95.78 GB</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-acta-info box-acta-info-light top-20">
                    <div class="box-header">
                        Memory system
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dataTable-tree" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Usage</th>
                                    <th>Free</th>
                                    <th>Used</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/tv-collapsable.gif" /> Physical memory
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0"
                                                aria-valuemax="100">
                                                94%</div>
                                        </div>
                                    </td>
                                    <td>117.99 MB</td>
                                    <td>1.85 GB</td>
                                    <td>1.96 GB</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> Kernel + applications
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0"
                                                aria-valuemax="100">
                                                16%
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>314.55 MB</td>
                                    <td></td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> Buffers
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0"
                                                aria-valuemax="100">
                                                16%
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>312.50 MB</td>
                                    <td></td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/vertline.gif" />
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> Cached
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 63%" aria-valuenow="63" aria-valuemin="0"
                                                aria-valuemax="100">
                                                63%
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>1.24 GB</td>
                                    <td></td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>
                                        <img class="status-img" src="../../../../../images/treeview/tv-item-last.gif" /> Disk Swap
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-yellow" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                0%
                                            </div>
                                        </div>
                                    </td>
                                    <td>4.95 GB</td>
                                    <td>2.63 MB</td>
                                    <td>4.66 GB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="box box-acta-info box-acta-info-light top-20">
                    <div class="box-header">
                        Version
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>Tools name</th>
                                    <th>Tools version</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="even">
                                    <td>ACTa</td>
                                    <td>2.0.4 2017/08 manage auto_reply for OPTIONS out-of-dialog, network status: monitoring
                                        IPBX and architecture, bugs fixed, upgrade OS</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>SIP Analyser</td>
                                    <td>1.18.7 ||| 2017/06 ||| FEB ||| Bug correction on sbc arguments checks (multiple callids,
                                        date, time, duration)</td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>Trace Controler</td>
                                    <td>Version 3.9.11 - September 2017 - Mantis 14644 : RTP/DTMF delay packet embedded in same
                                        flow and error level set to MINOR</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>EasyValid</td>
                                    <td>Version 1.7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</div>