<div class="row">
    <div class="col-sm-12">
        <h3 class="acta-title">Traces</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="acta-sub-title col-xs-6 col-sm-7 col-md-5 col-lg-4">
            <i class="fa fa-circle-o-notch"></i>
            <span>Script informations</span>
        </div>
        <div class="col-sm-12">
            <form class="form-horizontal form-info">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 col-lg-2">Name</label>
                        <div class="col-sm-10 col-lg-10">
                            11500_FRAG01_outgoing_INVITE_SDPoverloaded.xml
                            <br/> [ACTA_Transverse, 0299000001, IPBX_Transverse-R 11.2, 3191105, , ]
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 col-lg-2">Date</label>
                        <div class="col-sm-10 col-lg-10">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i> 2018-01-15 12:02:02
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 col-lg-2">Scenario</label>
                        <div class="col-sm-10 col-lg-10">
                            saloui_1341
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-left">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 col-lg-2">PCAP</label>
                        <div class="col-sm-10 col-lg-10">
                            <a href="">
                                <i class="fa fa-download" aria-hidden="true"></i> Download</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 col-lg-2">Analysis</label>
                        <div class="col-sm-10 col-lg-10">
                            <a [routerLink]="['../analysis']" routerLinkActive="active" class="analysis">
                                <i class="fa fa-eye" aria-hidden="true"></i> View
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 col-lg-2">Status</label>
                        <div class="col-sm-10 col-lg-10">
                            <span class="failed">FAILED</span>
                        </div>
                    </div>
                </div>
                <div style="clear: left"></div>
            </form>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" id="tab_1_link" data-toggle="tab">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i> Call graph</a>
                </li>
                <li>
                    <a href="#tab_2" id="tab_2_link" data-toggle="tab">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> Logs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="col-sm-6 col-lg-6 text-center">
                        <img src="../../../../../images/callgraph-orange.png" alt="" class="callgraph">
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">CALL DESCRIPTION</div>
                            <div class="panel-body">
                                <div class="graph-description">
                                    ACTA . . . . . &gt; IPBX : INVITE with SDP
                                    <br /> ACTA &lt; . . . . . IPBX : 100 (optional)
                                    <br /> ACTA &lt; . . . . . IPBX : 18x (optional)
                                    <br /> ACTA &lt; . . . . . IPBX : 200 OK with SDP only G711a
                                    <br /> ACTA . . . . . &gt; IPBX : ACK
                                    <br />
                                    <br /> ACTA &lt; . . . . . IPBX : audio
                                    <br /> ACTA . . . . . &gt; IPBX : audio during 7s
                                    <br />
                                    <br /> ACTA . . . . . &gt; IPBX : INVITE without SDP
                                    <br /> ACTA &lt; . . . . . IPBX : 100 (optional)
                                    <br /> ACTA &lt; . . . . . IPBX : 200 OK with SDP only G711a
                                    <br /> ACTA . . . . . &gt; IPBX : ACK with SDP
                                    <br />
                                    <br /> ACTA . . . . . &gt; IPBX : INVITE with SDP
                                    <br /> ACTA &lt; . . . . . IPBX : 100 (optional)
                                    <br /> ACTA &lt; . . . . . IPBX : 200 OK with SDP
                                    <br /> ACTA . . . . . &gt; IPBX : ACK
                                    <br />
                                    <br /> ACTA &lt; . . . . . IPBX : audio
                                    <br /> ACTA . . . . . &gt; IPBX : audio during 15s
                                    <br />
                                    <br /> ACTA . . . . . &gt; IPBX : BYE
                                    <br /> ACTA &lt; . . . . . IPBX : 200 OK
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: left"></div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <table id="example1" class="table table-bordered table-striped dataTable dataTable-complete dataTable-complete-1" role="grid"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th rowspan="1" colspan="1">Date</th>
                                <th rowspan="1" colspan="1">Level</th>
                                <th rowspan="1" colspan="1">Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [saloui_1337]</td>
                                <td>Processing the scenario "saloui_1337"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Processing session_SIP_A</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>(10303_REINV05) Calling INIVTE_SDP.xml 3191105</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>(10303_REINV05) Calling INIVTE_SDP.xml 3191105</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>Verify "[list_codec]" regexp "0"</td>
                            </tr>
                            <tr role="row" class="even">
                                <td>2018-01-17 11:54:19</td>
                                <td>INFO [session_SIP_A]</td>
                                <td>IF condition : Unable to find the regexp: "0"</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Date</th>
                                <th rowspan="1" colspan="1">Level</th>
                                <th rowspan="1" colspan="1">Message</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>