.skin-acta {
    .content {
        /*padding: 10px 15px;
        overflow-y: scroll;
        position: relative;
        height: calc(100% - 250px);*/
        home {
            .pad {
                .info-box {
                    box-shadow: none;
                    border-bottom: 1px solid #d4d4d4;
                    margin-bottom: 0;
                    min-height: 75px;
                    .info-box-icon {
                        height: 75px;
                        width: 75px;
                        line-height: 75px;
                        i {
                            font-size: 45px;
                            margin-top: 15px;
                            opacity: 0.5;
                        }
                    }
                }
            }
            .invoice {
                border: 1px solid #d4d4d4;
                padding: 0 20px 20px 20px;
                margin: 25px 0;
                h2.page-header {
                    padding-left: 38px;
                    i {
                        &.icon-presentation {
                            position: absolute;
                            left: 20px;
                            top: 12px;
                        }
                    }
                }
                .invoice-info {
                    p {
                        text-align: justify;
                    }
                    .box {
                        border-radius: 0;
                        border-top: 4px solid #d2d6de;
                        border-bottom: 1px solid #d2d6de;
                        box-shadow: none;
                        .box-body {
                            a.how-to-use {
                                font-weight: bold;
                                color: #333;
                                padding-left: 38px;
                                &:hover {
                                    span {
                                        color: $supervisor_color;
                                    }
                                }
                                i {
                                    font-weight: normal;
                                    position: absolute;
                                    margin-left: -30px;
                                    margin-top: -3px;
                                    color: $supervisor_color;
                                }
                                span {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .carousel {
                    max-width: 1100px;
                    .carousel-control {
                        i {
                            &.control-left {
                                left: 50%;
                            }
                            &.control-right {
                                right: 50%;
                            }
                            &.control-left,
                            &.control-right {
                                position: absolute;
                                top: 50%;
                                z-index: 5;
                                display: inline-block;
                                border: 2px solid #1485cc;
                                border-radius: 50%;
                                padding: 6px;
                                margin-top: -6px;
                                color: #1485cc;
                                text-shadow: none;
                                font-size: 29px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        h3.acta-title {
            font-size: 16px;
            background-color: white;
            margin: 0;
            padding: 10px 15px;
            border-bottom: 1px solid #d4d4d4;
            text-transform: uppercase;
            font-weight: 600;
        }
        .acta-sub-title {
            border-left: 5px solid #1485cc;
            border-bottom: 1px solid #1485cc;
            margin-top: 20px;
            margin-bottom: 10px;
            padding: 5px 10px;
            i,
            span {
                color: #1485cc;
            }
            i {
                margin-right: 5px;
            }
            span {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        .btn {
            border-radius: 0;
            box-shadow: none;
            &.btn-default {
                background-color: white;
                color: #1485cc;
                border: 1px solid #1485cc;
                &:hover {
                    background-color: #1485cc;
                    color: white;
                }
            }
            &.btn-delete {
                background-color: white;
                color: $administrator_color;
                border: 1px solid $administrator_color;
                &:hover {
                    background-color: $administrator_color;
                    color: white;
                }
            }
            &.btn-other {
                background-color: white;
                color: black;
                border: 1px solid black;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
            &.btn-with-icon {
                i {
                    margin-right: 5px;
                }
            }
            &.btn-filter {
                background-color: #1485cc;
                color: white;
                border: 1px solid #1485cc;
                padding: 3px 12px;
            }

            &.btn-modal-ok {
                background-color: #1485cc;
                color: white;
                border: 1px solid #1485cc;
            }

            &.btn-modal-close {
                background-color: white;
                border: 1px solid #898e91;
                color: #898e91;
                border: 1px solid #898e91;
            }

            &.btn-modal-yes {
                background-color: #4eba4c;
                color: white;
                border: 1px solid #4eba4c;
            }
            &.btn-modal-no {
                background-color: white;
                border: 1px solid $administrator_color;
                color: $administrator_color;
                border: 1px solid $administrator_color;
            }

            
        }
        .nav-tabs-custom {
            box-shadow: none;
            border-bottom: 1px solid #d4d4d4;
            border-radius: 0;
            margin-top: 20px;
            >.nav-tabs {
                border-bottom-color: #d4d4d4;
                >li {
                    &.active {
                        >a {
                            border-top-color: transparent;
                            border-left-color: #d4d4d4;
                            border-right-color: #d4d4d4;
                        }
                    }
                    >a {
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            >.tab-content {
                border-left: 1px solid #d4d4d4;
                border-right: 1px solid #d4d4d4;
                border-bottom: 1px solid #d4d4d4;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                padding: 15px;
            }
        }
        .box {
            border-radius: 0;
            box-shadow: none;
            border-top: none;
            &.box-filter {
                .box-header {
                    background-color: #fdfdfd;
                }
                .box-body {
                    padding: 10px;
                    background-color: #f7f7f7;
                    .form-group {
                        margin-bottom: 5px;
                        .icheckbox {
                            padding-top: 7px;
                            .icheckbox_flat-blue {
                                margin-right: 5px;
                                margin-top: -2px;
                            }
                        }
                    }
                    div.or {
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-top: 25px;
                    }
                    .buttons-group {
                        a {
                            float: right;
                            margin: 4px 0;
                        }
                    }
                }
            }
            &.box-datatable {
                margin-bottom: 0;
                .box-header {
                    padding-top: 0;
                    span.select2 {
                        width: 100% !important;
                        span.select2-selection {
                            border: 1px solid #1e282c !important;
                        }
                    }
                }
            }
            .box-header {
                h3.box-title {
                    font-size: 15px;
                    margin: 0 0 0 5px;
                }
            }
        } // Datatables
        .dataTable {
            .status-ok,
            .status-ko {
                font-weight: bold;
            }
            .run,
            .status-ok {
                color: #4eba4c;
            }
            .status-ko {
                color: $administrator_color;
            }
            tbody {
                tr {
                    &.selected {
                        background-color: #dbeffc !important;
                    }
                }
            }
        } // Form
        .form {
            &.form-filter {
                margin-bottom: 15px;
            }
            .form-group {
                input.form-control {
                    height: 29px;
                    &.number {
                        width: 75px;
                    }
                    &.number-inline {
                        margin-right: 10px;
                        padding: 4px 12px;
                    }
                }
                .select2 {
                    min-width: 200px;
                    width: 100% !important;
                }
            }
        }
        .form-inline {
            .form-group {
                label {
                    margin-right: 10px;
                    text-transform: uppercase;
                }
            }
        }
        .form-new {
            background-color: #fdfdfd; 
            border-left: 5px solid #1485cc;
            margin-bottom: 20px;
            padding: 10px 5px 0 5px;

            .form-group {
                .control-label {
                    text-align: left;
                }

                .scripts_target {
                    i {
                        color: $administrator_color;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}