@import 'content/alert';
@import 'content/box';
@import 'content/button';
@import 'content/datatable';
@import 'content/form';
@import 'content/icon';
@import 'content/modal';
@import 'content/navtab';
@import 'content/panel';
@import 'content/popover';
@import 'content/progress';
@import 'content/title';
@import 'content/tooltip';

.skin-acta {

    .content-wrapper {
        background-color: white;

        .content-header {
            background: #f1f0f0;
            padding: 15px 25px;
            .sidebar-toggle {
                background-color: #ff3333;
                background-image: none;
                padding: 17px 17px 17px 12px;
                font-family: fontAwesome;
                position: absolute;
                margin-top: -15px;
                margin-left: -25px;
                color: white;
                &:before {
                    content: "\F0C9";
                }
            }
            h1 {
                color: #2a323c;
                margin: 0 0 0 40px;
                font-size: 22px;
                small {
                    color: #87909c;
                }
            }
            .server-status {
                float: right;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 12px;
                padding: 12px 5px 0 17px;
                position: absolute;
                top: 0;
                right: 0;
                width: 210px;
                background-color: #ebeaea;
                border-left: 1px solid #b1b1b1;
                height: 100%;
                .server-status-icon,
                .server-status-name {
                    float: left;
                }
                .server-status-icon {
                    position: absolute;
                    top: 9px;
                    i {
                        color: $server_status_color;
                        font-size: 38px;
                    }
                }
                .server-status-name {
                    line-height: 1;
                    position: absolute;
                    left: 65px;
                    color: #2a323c;
                    p {
                        margin: 0 0 5px 0;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                    .status {
                        strong {
                            font-weight: normal;
                        }
                        span {
                            color: $server_status_color;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .content {
            max-height: calc(100vh - 183px);
            overflow-y: auto;
            
            .home {
                .pad {
                    .info-box {
                        box-shadow: none;
                        border-bottom: 1px solid #d4d4d4;
                        margin-bottom: 0;
                        min-height: 75px;
                        .info-box-icon {
                            height: 75px;
                            width: 75px;
                            line-height: 75px;
                            i {
                                font-size: 45px;
                                margin-top: 15px;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .invoice {
                    border: 1px solid #d4d4d4;
                    padding: 0 20px 20px 20px;
                    margin: 25px 0;
                    h2.page-header {
                        padding-left: 38px;
                        i {
                            &.icon-presentation {
                                position: absolute;
                                left: 20px;
                                top: 12px;
                            }
                        }
                    }
                    .invoice-info {
                        p {
                            text-align: justify;
                        }
                        .box {
                            border-radius: 0;
                            border-top: 4px solid #d2d6de;
                            border-bottom: 1px solid #d2d6de;
                            box-shadow: none;
                            .box-body {
                                a.how-to-use {
                                    font-weight: bold;
                                    color: #333;
                                    padding-left: 38px;
                                    &:hover {
                                        span {
                                            color: $supervisor_color;
                                        }
                                    }
                                    i {
                                        font-weight: normal;
                                        position: absolute;
                                        margin-left: -30px;
                                        margin-top: -3px;
                                        color: $supervisor_color;
                                    }
                                    span {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    .carousel {
                        max-width: 1100px;
                        .carousel-control {
                            i {
                                &.control-left {
                                    left: 50%;
                                }
                                &.control-right {
                                    right: 50%;
                                }
                                &.control-left,
                                &.control-right {
                                    position: absolute;
                                    top: 50%;
                                    z-index: 5;
                                    display: inline-block;
                                    border: 2px solid #1485cc;
                                    border-radius: 50%;
                                    padding: 6px;
                                    margin-top: -6px;
                                    color: #1485cc;
                                    text-shadow: none;
                                    font-size: 29px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}