.skin-acta {
    .main-footer {
        /*padding: 10px 15px;*/
        padding: 0;
        height: 45px;
        border-top: none;
        background-color: $footer_background;

        .logo {
            margin-right: 10px;
            width: 45px;
            height: 100%;
        }
        a.top {
            height: 45px;
            background-color: $footer_button_background;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 15px;

            i {
                margin-top: 11px; 
                font-size: 30px;
                color: $footer_button_color;
            }
        }
    }
}