// _mixins.scss
@mixin circle($size: 100px) {
	width: $size;
	height: $size;
	position: relative;
	-webkit-border-radius: $size / 2 + 0px;
	-moz-border-radius: $size / 2 + 0px;
	border-radius: $size / 2 + 0px;
	&>div,
	span {
		width: $size - $size*0.3;
		height: $size - $size*0.3;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
}

@mixin opacity($value){
	$IEValue: $value*100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
  }

@mixin status-color($color) {
	.user-panel {
		background-color: $color;
	}
	.content-wrapper {
		.content-header {
			.sidebar-toggle {
				background-color: $color;
			}
		}

		.content {
			padding: 25px 40px;

			home {
				.pad {
					padding: 0;
					margin: 0;

					.info-box {
						background-color: #f9f9f9;

						.info-box-content {
							padding: 12px 10px;
						}
					}
				}

				.box-acta {
					border-top-color: $color;
				}
			}
		}
	}
}