/*
 * Skin: ACTA
 * ----------
 */

.skin-acta {
    .main-header {
        background-color: #1e282c;
        .navbar {
            .nav {
                >li>a {
                    color: #ffffff;
                    &:hover,
                    &:active,
                    &:focus {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }
                .open>a {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f6f6f6;
                    &:hover,
                    &:focus {
                        background: rgba(0, 0, 0, 0.1);
                        color: #f6f6f6;
                    }
                }
                >.active>a {
                    background: rgba(0, 0, 0, 0.1);
                    color: #f6f6f6;
                }
            }
            .sidebar-toggle {
                color: #ffffff;
                &:hover {
                    color: #f6f6f6;
                    background: rgba(0, 0, 0, 0.1);
                    background-color: #367fa9;
                }
                color: #fff;
            }
        }
        .logo-acta {
            display: block;
            float: left;
            z-index: 1001;
            height: 70px;
            width: 670px;
            position: relative;
            background: url(../images/logo-acta-icon.png) 17px 11px no-repeat;
            padding: 15px 0 0 105px;
            .firstelement {
                font-family: 'Orbitron', sans-serif;
                color: $administrator_color;
                font-weight: 700;
                font-size: 29px;
                text-transform: uppercase;
            }
            .secondelement,
            .thirdelement {
                font-family: 'Raleway', sans-serif;
            }
            .secondelement {
                color: #1485cc;
                font-size: 18px;
                margin-left: 10px;
            }
            .thirdelement {
                color: #b9b9b9;
                font-size: 11px;
                margin-left: 55px;
            }
        }
        li.user-header {
            background-color: #3c8dbc;
        }
        .navbar-custom-menu {
            padding-right: 5px;
            .navbar-nav {
                margin: 17px 0;
                a {
                    border: 2px solid rgba(255, 255, 255, 0.5);
                    height: 36px;
                    width: 36px;
                    padding: 0 !important;
                    text-align: center;
                    line-height: 38px !important;
                    border-radius: 50%;
                    margin-right: 10px;
                    &:hover {
                        border: 2px solid white;
                    }
                    &.exit {
                        color: #ff3333;
                        &:hover {
                            color: #ff3333;
                        }
                    }
                    i {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
    .content-wrapper {
        background-color: white;
        .content-header {
            background: #f1f0f0;
            padding: 15px 25px;
            .sidebar-toggle {
                background-color: #ff3333;
                background-image: none;
                padding: 17px 17px 17px 12px;
                font-family: fontAwesome;
                position: absolute;
                margin-top: -15px;
                margin-left: -25px;
                color: white;
                &:before {
                    content: "\F0C9";
                }
            }
            h1 {
                color: #2a323c;
                margin: 0 0 0 40px;
                font-size: 22px;
                small {
                    color: #87909c;
                }
            }
            .server-status {
                float: right;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 12px;
                padding: 12px 5px 0 17px;
                position: absolute;
                top: 0;
                right: 0;
                width: 210px;
                background-color: #ebeaea;
                border-left: 1px solid #b1b1b1;
                height: 100%;
                .server-status-icon,
                .server-status-name {
                    float: left;
                }
                .server-status-icon {
                    position: absolute;
                    top: 9px;
                    i {
                        color: $server_status_color;
                        font-size: 38px;
                    }
                }
                .server-status-name {
                    line-height: 1;
                    position: absolute;
                    left: 65px;
                    color: #2a323c;
                    p {
                        margin: 0 0 5px 0;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                    .status {
                        strong {
                            font-weight: normal;
                        }
                        span {
                            color: $server_status_color;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    .wrapper,
    .main-sidebar,
    .left-side {
        background-color: white;
    }
    .main-sidebar {
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        background-color: #f1f0f0;
        padding-top: 70px;
    }
    .user-panel {
        background-color: $administrator_color;
        >.image {
            i {
                font-size: 34px;
                color: white;
                opacity: 0.5;
            }
        }
        >.info {
            color: #fff;
            padding: 0 5px 0 5px;
            >a {
                color: #fff;
                span.status {
                    color: #2a323c;
                    font-weight: bold;
                    margin-left: 10px;
                    text-transform: capitalize;
                }
            }
            >p {
                margin-bottom: 5px;
                text-transform: uppercase;
            }
        }
    }
    .sidebar-menu>li {
        &.header {
            color: #4b646f;
            background: #1a2226;
        }
        >a {
            border-left: 3px solid transparent;
            i {
                color: $administrator_color;
            }
        }
        &:hover>a,
        &.active>a,
        &.menu-open>a {
            color: #ffffff;
            background: #1e282c;
        }
        &.active>a {
            border-left-color: #ff3333;
        }
        >.treeview-menu {
            margin: 0 1px;
            background-color: white;
        }
    }
    .sidebar a {
        color: #2a323c;
        &:hover {
            text-decoration: none;
        }
    }
    .sidebar-menu .treeview-menu>li {
        &:hover {
            background-color: #e8e5e5;
        }
        >a {
            color: #2a323c;
        }
        &.active>a,
        >a:hover {
            color: #ffffff;
        }
        >a:hover {
            color: #1e282c;
        }
    }
    .sidebar-form {
        border-radius: 3px;
        border: 1px solid #374850;
        margin: 10px 10px;
        input[type="text"],
        .btn {
            box-shadow: none;
            background-color: #374850;
            border: 1px solid transparent;
            height: 35px;
        }
        input[type="text"] {
            color: #666;
            border-top-left-radius: 2px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 2px;
            &:focus {
                background-color: #fff;
                color: #666;
                +.input-group-btn .btn {
                    background-color: #fff;
                    color: #666;
                    border-left-color: #fff;
                }
            }
        }
        .btn {
            color: #999;
            border-top-left-radius: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 0;
        }
    }
    &.layout-top-nav .main-header>.logo {
        background-color: #3c8dbc;
        color: #ffffff;
        border-bottom: 0 solid transparent;
        &:hover {
            background-color: #3b8ab8;
        }
    }
    .main-footer {
        padding: 10px 15px;
        .logo {
            margin-right: 10px;
        }
        a.top {
            height: 58px;
            background-color: #f9f9f9;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 15px;

            i {
                margin-top: 12px; 
                font-size: 30px;
                color: #1e282c;
            }
        }
    } // Color by status
    .wrapper {
        &.wrapper-adm {
            @include status-color($administrator_color);
        }
        &.wrapper-sup {
            @include status-color($supervisor_color);
        }
        &.wrapper-ctr {
            @include status-color($contributor_color);
        }
    }
}

@media (max-width: 767px) {
    .skin-acta .main-header .navbar .dropdown-menu li {
        &.divider {
            background-color: rgba(255, 255, 255, 0.1);
        }
        a {
            color: #fff;
            &:hover {
                background: #367fa9;
            }
        }
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 650px !important;
    }
}