.skin-acta {
    .wrapper,
    .left-side {
        background-color: white;
    }

    // Tools
    .top-10 { margin-top: 10px; }
    .top-20 { margin-top: 20px; }
    .top-40 { margin-top: 40px; }
    
    // Color by status
    .wrapper {
        &.wrapper-adm {
            @include status-color($administrator_color);
        }
        &.wrapper-sup {
            @include status-color($supervisor_color);
        }
        &.wrapper-ctr {
            @include status-color($contributor_color);
        }
    }
}