<div class="row">
    <div class="col-sm-12">
        <h3 class="acta-title">Launch script</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" id="tab_1_link" data-toggle="tab">
                        <i class="fa fa-th-list"></i> Scripts list</a>
                </li>
                <li>
                    <a href="#tab_2" id="tab_2_link" data-toggle="tab">
                        <i class="fa fa-code"></i> Launch script</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box box-filter box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filters</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form" class="form">
                                <div class="form-group col-sm-3">
                                    <label>Contributor</label>
                                    <select class="form-control select2" data-placeholder="Select your contributor">
                                        <option selected="selected">ALE</option>
                                        <option>All</option>
                                        <option>Asterik</option>
                                        <option>Genesys</option>
                                        <option>Mitel MV5000</option>
                                        <option>ShoreTel</option>
                                        <option>Transverse</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Catalog</label>
                                    <select class="form-control select2" data-placeholder="Select your catalog">
                                        <option value="" disabled selected>Select your catalog</option>
                                        <option>[ALE] Out of dialog</option>
                                        <option>[ALE] Every Major Release</option>
                                        <option>[ALE] Every 2 Major Release</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Options</label>
                                    <div style="clear: left"></div>
                                    <a href="#" class="btn btn-default btn-with-icon">
                                        <i class="fa fa-code"></i> Launch ALE auto_reply
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /. filters -->

                    <div class="box box-default box-datatable">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable dataTable-complete dataTable-complete-1" role="grid"
                                        aria-describedby="example1_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID"
                                                    width="40px">ID</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="File name">File name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Description">Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CallFlow" width="50px">CallFlow</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--<tr class="subtitle">
                                                <td colspan="4"><i class="fa fa-file-o" aria-hidden="true"></i> Out of dialogs</td>
                                            </tr>-->
                                            <tr role="row" class="odd">
                                                <td class="sorting_1 text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21400_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1 text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21401_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1 text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21402_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!--<tr class="subtitle">
                                                <td colspan="4"><i class="fa fa-file-o" aria-hidden="true"></i> Every Major Release</td>
                                            </tr>-->
                                            <tr role="row" class="odd">
                                                <td class="sorting_1 text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21400_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td class="sorting_1  text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21401_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr role="row" class="odd">
                                                <td class="sorting_1 text-center">
                                                    <a href="javascript:" class="launchscript">
                                                        <span class="badge">21400</span>
                                                    </a>
                                                </td>
                                                <td>21402_OOD01_incoming_out_of_dialog_OPTIONS.xml</td>
                                                <td>ACTa receives OPTIONS message and responds by 200 OK</td>
                                                <td class="text-center">
                                                    <button type="button" class="callflow" data-toggle="popover" data-placement="left" title="CallFlow" data-content="IPBX . . . . . > . ACTa : OPTIONS<br/><ul><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li><li>IPBX . < . . . . . ACTa : 200 OK</li></ul>">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th rowspan="1" colspan="1">ID</th>
                                                <th rowspan="1" colspan="1">File name</th>
                                                <th rowspan="1" colspan="1">Description</th>
                                                <th rowspan="1" colspan="1">CallFlow</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /. datatable -->
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div class="col-sm-5">
                        <form class="form form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Script ID</label>
                                <div class="col-sm-9">
                                    <input type="text" value="21400" class="form-control number" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">ACTA :</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" data-placeholder="Select your contributor">
                                        <option selected="selected">ACTA_ShoteTel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">ACTA Number :</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" data-placeholder="Select your contributor">
                                        <option selected="selected">ACTA1 = 0299381809</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">IPBX version :</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2" data-placeholder="Select your contributor">
                                        <option selected="selected">6.0.3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">Launch</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="clear: left"></div>
                </div>
            </div>

        </div>
        <!-- /.tab-content -->
    </div>
</div>