.skin-acta {
    .content {
        .alert {
            margin-top: 20px;
            padding-top: 12px;

            &.alert-danger {
                background-color: white !important;
                border: 3px solid #e74c3c;
                color: #333 !important;

                h4 {
                    color: #e74c3c !important;
                }

                span {
                    font-weight: 600;
                    &.major {
                        color: red;
                    }

                    &.minor {
                        color: #fa8258;
                    }

                    &.warning {
                        color: #ffa500;
                    }
                }
            }
        }
    }
}