.skin-acta {
    .content {
        .dataTable {
            width: 100% !important;

            &.dataTable-tree {
                tbody td {
                    padding: 0px 8px !important;
                    line-height: 19px;

                    img {
                        vertical-align: top;
                    }

                    .progress {
                        margin-top: 2px !important;
                    }
                }
            }

            a {
                text-decoration: underline;
            }
            .status-ok,
            .status-ko {
                font-weight: 600;
            }
            .run,
            .status-ok {
                color: #4eba4c;
            }
            .status-ko {
                color: red;
            }
            tbody {
                tr {
                    &.selected {
                        background-color: #dbeffc !important;
                    }
                    td {
                        span.type {
                            color: white;
                            font-weight: 600;
                            text-align: center;
                            font-size: 13px;
                            width: 75px;
                            display: block;
                            padding: 2px;
                            &.major {
                                background-color: red;
                            }
                            &.minor {
                                background-color: #fa8258;
                            }
                            &.warn {
                                background-color: #ffa500;
                            }
                        }

                        a.details-control {
                            width: 50px;
                            &.btn-below-down { display: block; }
                            &.btn-below-up { display: none; }
                        }
                    }

                    &.shown a.details-control {
                        &.btn-below-down { display: none; }
                        &.btn-below-up { display: block; }
                    }
                }
            }
            tr.group td {
                font-weight: 600;
                background-color: white;
                border: 1px solid #1485cc !important;
                color: #1485cc;
            }
        }
    }
}