.skin-acta {
    .content {
        .progress {
            height: 14px;
            background-color: #e6e3e3;

            .progress-bar {
                border-radius: 0;
                line-height: 14px;
            }
        }
    }
}