.skin-acta {
    .content {
        .progress {
            height: 14px;
            background-color: #e6e3e3;

            .progress-bar {
                border-radius: 0;
                line-height: 14px;

                &.progress-bar-yellow {
                    background-color: $content_progress_bar_background;
                }
            }
        }
    }
}