<div class="row">
    <div class="col-sm-12">
        <h3 class="acta-title">Numbering plan</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box box-filter box-default top-20">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-filter" aria-hidden="true"></i> Filters</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-sm-10">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label>IPBX</label>
                            <select class="form-control select2" data-placeholder="Select your contributor">
                                <option>All</option>
                                <option selected="selected">ACTA_ALE</option>
                                <option>IPBX_ALE</option>
                                <option>ACTA_Asterisk</option>
                                <option>IPBX_Asterisk</option>
                                <option>ACTA_DRA_TEST</option>
                                <option>IPBX_DRA_TEST</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="col-sm-2 text-right">
                    <a [routerLink]="['../configuration']" routerLinkActive="active" class="btn btn-default btn-with-icon">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit configuration
                    </a>
                </div>
            </div>
        </div>
        <!-- /. filters -->

        <div class="box box-default box-datatable">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered table-striped dataTable dataTable-complete dataTable-complete-1" role="grid"
                            aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th>Description</th>
                                    <th>Phone number</th>
                                    <th width="50px">Config</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <td>HQ319_ALcatel_ACTA</td>
                                    <td>0299000001</td>
                                    <td class="text-center">
                                        <a href="javascript:" class="edit_config">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td>HQ319_Alcatel_ACTA_FORK</td>
                                    <td>0299000001_0299000002</td>
                                    <td class="text-center">
                                        <a href="javascript:" class="edit_config">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td>auto_reply</td>
                                    <td>0000</td>
                                    <td class="text-center">
                                        <a href="javascript:" class="edit_config">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="editor_div" class="editor">
                        <div class="filepath">
                            <label>
                                <i class="fa fa-file-code-o"></i>Path
                            </label>
                            <div class="path">
                                /usr/acta/scripts/ACTA_ALE/0299000001_service.conf
                                <span></span>
                            </div>
                            <a href="javascript:" class="close_config">
                                <i class="fa fa-times"></i>
                            </a>
                            <div style="clear:left"></div>
                        </div>
                        <div ace-editor [(text)]="textEditor" [mode]="'text'" [theme]="'eclipse'" [options]="options" [autoUpdateContent]="true"
                            [durationBeforeCallback]="1000" (textChanged)="onChange($event)" style="min-height: 500px; width:100%; overflow: auto;"></div>
                        <div class="col-md-12 text-right">
                            <a href="javascript:" class="close_config btn btn-default">
                                <i class="fa fa-check"></i> Save config
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>